<div class="parent-container">
  <div class="child-container">
    <h2><b> We would love to help you...!! For any information, Please find the Contact Information below. </b></h2>
    <br>
    <form>
      <div class="form-group"><br>
        <label>Name: Bindu Gadiparthi</label><br><br>
        <label>Address : 3627 Gillham road</label><br>
        <label>Kansas City, MO 64111</label><br><br>
        <label>Email id: bggnk@umsystem.edu</label><br><br>
        <label>Contact No. +1 (777)-777 7777</label><br><br>
      </div>
    </form>
  </div>
</div>
